.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0 1px 3px -2px rgb(2, 0, 6);
}
.nav-logo{
    align-items: center;
    display: flex;
    gap: 10px;
}
.nav-logo img{
    width: 30%;
}
.nav-logo p{
    font-size: 38px;
    font-weight: 600;
    color: #e7772f;
    text-align: center;
    font-style:normal;
}

.nav-manu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

.nav-manu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-manu hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background-color: red;
}

.nav-login-cart{
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid gray;
    border-radius: 75px;
    color: gray;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.username{
    font-size: 25px;
}

.nav-login-cart button:active{
background: #f3f3f3;
}

.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    background: red;
    color: white;
}