.pet-card-inn>img{
    width: 100%;
    /* margin: 0 auto; */
    border-radius: 5px;
}
.pet-card-inn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 3%;
    /* height: 400px;
    width: 300px; */
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    /* text-align: center; */
}
.age-gender{
    display: flex;
    width: 100%;
    align-items: center;
    /* border: 1px solid; */
    justify-content: center;
    gap: 15%;
}
.age>p{
    text-align: center;
}
.gender>p{
    text-align: center;
}

.pet-card-inn>button{
    padding: 3% 2%;
    border-radius: 5px;
    width: 80%;
    background-color: violet;
}